.card {
  font-size: 20px;
  width: 7cm;
  box-shadow: 5mm;
  padding-left: 5mm;
}

.card:hover {
  transform: scale(1.03);
  cursor: pointer;
  transition: all 0.5s ease;
}

.card img {
  min-width: 100%;
  max-height: 5cm;
  padding: 0px 0;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0px;
}

h4 {
  font-size: 15px;
  color: rgb(186, 167, 167);
  font-weight: normal;
}

p {
  padding: 14mm;
  color: rgb(202, 181, 181);
  text-align: left;
}

.checked {
  color: orange;
}
