
.horizontal{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}

h3{
    margin-top: 10mm;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    text-transform: uppercase;
}