form {
    background-image: radial-gradient(#393434,#000000);
    font-weight: bolder;
    width: 200mm;
    font-size: x-large;
    margin: auto;
    border-radius: 8mm;
    color: #fff;
    flex-wrap: wrap;
  }
  /*Here is the stuff for the snackbar(toast message) */
  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  /*animations for the snackbar*/
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  /*snackbar stuff ends here */
  
  label {
    width: 100%;
    margin-top: 10mm;
    display: inline-block;
  }
  
  input,
  button {
    width: 80%;
    font-size: x-large;
    padding: 14px 20px;
    margin: 2px 0;
    border: none;
    border-radius: 2mm;
    cursor: pointer;
  }
  
  input[type="button"],
  button {
    margin: 8px 0;
    display: inline-block;
    width: 30%;
    margin-top: 20mm;
  }
  button {
    margin: 2px 0;
    display: inline-block;
    width: 30%;
    margin-top: 0mm;
  }
  button[id="addBtn"]  {
    margin: 8px 0;
    display: inline-block;
    width: 40%;
    margin-top: 0mm;
  }
   button[id="details"]  {
    margin: 0px ;
    display: inline-block;
    width: 30%;
    margin-top: 40mm;
  }
  /* Dim and disable the button while the form is invalid */
form:invalid div[id="addBtn"] {
  opacity: 0.3;
  pointer-events: none;
}
  button:hover{
    cursor: pointer;
    box-shadow:0 2px 50px 0 #3f4b4a, 0 20px 100px 0 #2b3736;
    transition: 2;
  }
  
  input[id="detail"]:hover{
    cursor: pointer;
    box-shadow:0 2px 50px 0 #3f4b4a, 0 20px 100px 0 #2b3736;
    transition: 2;
  }

  
  .fa-solid {
    margin: 5mm;
  }
  
  /*The code below enables and formats on-page error message pop ups and highlights erroneous fields*/
  
  span{
  
    color:rgb(236, 118, 8);
    font-size: 12px;
    padding:3px;
    display: none;
  }
  input:invalid{
  
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(250, 149, 18);
  }
  input:invalid~span{
      display: contents;
  }
  
